<header>
  <div class="title">
    <h1>Bookworm</h1>
  </div>

  <div class="navigation">
    <%= link_to "Home", root_path%>
    <%= link_to "About", about_path%>
    <%= link_to "My Books", my_books_path%>
    <% if authenticated? %>
      <%= button_to "Log Out", logout_path, method: :delete%>
    <% else %>
      <%= link_to "Log In",  new_session_path%>
    <% end %>
  </div>
</header>